*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
#result{
  height: 100px;
  background-color: red;
}
#result div{
  height: 100%;
}
body{
  background-color: hsl(0, 0%, 98%);  
}
header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid hsl(0, 0%, 52%, 20%);
}
.containerMenu{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2{
  font-family: 'Nunito Sans', sans-serif;
  color: hsl(200, 15%, 8%);
}
.right button{
  background-color: transparent;
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.lua-white{
  display: none;
}
.seta-white{
  display: none;
}
.actions{
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerActions{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seta-black, .seta-white{
  width: 20px;
  margin-right: 20px;
}
.btn-back{
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  text-decoration: none;
  color: hsl(200, 15%, 8%);
  box-shadow: 0px 3px 8px hsl(0, 0%, 52%, 50%);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
}
.infCountry{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerCountry{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgcountry{
  width: 50%;
  height: 350px;
}
.article{
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.divLeft{
  width: 50%;
  height: 230px;
}
.divRight{
  width: 50%;
  height: 130px;
  margin-top: 48px;
}
.divTop{
  width: 100%;
  display: flex;
}
.divBottom{
  width: 100%;
  height: 100px;
}
.titleBorderCountries{
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.divBorders{
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.bordersCountry{
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  margin-right: 10px;
  padding: 10px 10px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 3px 8px hsl(0, 0%, 52%, 50%);
}
.titleCountry{
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
}
.subtitle{
  margin-right: 5px;
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.divItems{
  display: flex;
  margin-bottom: 15px;
}
span{
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}
/* DARK MODE */
.dark-mode#body{
  background-color: hsl(207, 26%, 17%);
}
.dark-mode #header{
  background-color:  hsl(209, 23%, 22%);
  border: none;
}
.dark-mode #titlePage{
  color: hsl(0, 0%, 100%);
}
.dark-mode #right button{
  color: hsl(0, 0%, 100%);
}
.dark-mode #actions{
  background-color: hsl(207, 26%, 17%);
}
.dark-mode .btn-back{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode .seta-black{
  display: none;
}
.dark-mode .seta-white{
  display: inline;
}
.dark-mode .lua-black{
  display: none;
}
.dark-mode .lua-white{
  display: inline;
}
.dark-mode .subtitle{
  color: hsl(0, 0%, 100%);
};
}

@media (max-width: 534px) and (min-width: 375px) {

  .imgcountry{
    width: 90%;
    height: 250px;
  }
  .containerCountry{
    flex-direction: column;
    align-items: center;
  }
  .article{
    width: 90%;
    margin-top: 30px;
  }
  .divTop{
    flex-direction: column;
  }
  .divBottom{
    margin-top: 40px;
  }
  .divRight{
    margin-top: -15px;
  }
  .divItems{
    width: 300px;
  }
}